.qunatity{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    cursor: pointer;
}
.qunatity_decrease,.qunatity_increase{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
   
}
.qunatity_counter{
    font-size: 18px;
    width: 40px;
    background-color: #fff;
    color: #6E798C;
    text-align: center;
    cursor: pointer;
}