
@media only screen and (max-width: 1050px) {
    .youmayalsolikesection_cards {
      overflow-x: scroll !important;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
    }
  }.youmayalsolikesection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.youmayalsolikesection_heading{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.youmayalsolikesection_cards{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}