@media only screen and (max-width: 600px) {
  .Login-Content {
    flex-direction: column-reverse !important;
  }

  .Login-SideImage-Container {
    width: 100% !important;
  }

  .Login-SideImage-Container img {
    width: 350px !important;
    height: 400px !important;
  }

  .Login-Form-Content {
    margin-top: 50px !important;
    width: 100% !important;
    padding-right: 0px !important;
    border: none !important;
  }

  .Login-Heading {
    width: 100% !important;
    font-size: 14px !important;
  }

  .Login-Text {
    font-size: 14px !important;
  }

  .Login-Page input {
    width: 100%;
  }

  .Login-Button-Section {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .Login-Button {
    width: 100% !important;
    margin-right: 0px !important;
    align-items: center !important;
    margin-bottom: 5px !important;
  }

  .Login-CreateAccount-Button {
    width: 100% !important;
  }

  .Login-Join-Options {
    display: flex !important;
    width: 100%;
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1050px) {
  .Login-Content {
    flex-direction: column-reverse !important;
  }

  .Login-SideImage-Container {
    width: 100% !important;
  }

  .Login-SideImage-Container img {
    width: 350px !important;
    height: 400px !important;
  }

  .Login-Form-Content {
    margin-top: 50px !important;
    width: 100% !important;
    padding-right: 0px !important;
    border: none !important;
  }

  .Login-Heading {
    width: 100% !important;
    font-size: 18px !important;
  }

  .Login-Text {
    font-size: 17px !important;
    text-align: justify !important;
  }

  .Login-Page input {
    width: 100% !important;
  }

  .Login-Button-Section {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .Login-Button {
    width: 100% !important;
    margin-right: 0px !important;
    align-items: center !important;
    margin-bottom: 5px !important;
    font-size: 22px !important;
  }

  .Login-CreateAccount-Button {
    width: 100% !important;
    font-size: 22px !important;
  }

  .Login-Button-SideText {
    font-size: 22px !important;
  }

  .Login-Join-Options {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

.Login-Page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-Heading {
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.675px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Login-Text {
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
  padding-bottom: 20px;
}

.Login-Form-Head {
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: 0.15px;
  text-align: left;
  padding-bottom: 20px;
}

.Login-Page input {
  display: flex;
  width: 345px;
  height: 56px;
  padding: 10px;
  font-size: 15px;
  border-color: #0000003b;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  text-align: justify;
}

.Login-Email {
  margin-bottom: 24px;
}

.Login-Password {
  margin-bottom: 24px;
}

.Login-Form-Errors {
  color: rgb(255, 0, 0);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
  padding-bottom: 20px;
}

.Login-Button {
  display: flex;
  padding: 6px 24px;
  flex-direction: column;
  align-items: flex-start;
  border-color: #0000003b;
  border-radius: 5px;
  cursor: pointer;
  gap: 8px;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 173.333% */
  letter-spacing: 0.46px;
  text-transform: uppercase;
  margin-right: 100px;
}

.Login-Button-Section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.Login-Button-SideText {
  font-feature-settings: "clig" off, "liga" off;
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 157%;
  letter-spacing: 0.1px;
}

.Login-CreateAccount-Button {
  align-items: center;
  justify-content: center;
  padding: 8px 22px;
  width: 385px;
  height: 42px;
  border-radius: 5px;
  border-color: #0000003b;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 74px;
}

.Login-Join-Options {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.Login-Join-Icons {
  display: flex;
  margin-top: 20px;
}

.Login-Google-Icon,
.Login-Facebook-Icon {
  cursor: pointer;
}

.Login-Content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Login-Form-Content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 100px;
  border: none;
  border-right: 1px solid #989898;
}

.Login-SideImage {
  width: 768px;
  height: 714px;
  flex-shrink: 0;
}
