.videosection {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.videosection_heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.videosection_video {
    margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: scroll;
}
.videosection_video::-webkit-scrollbar{
    display: none;
}