.adminlogin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.adminlogin_left{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgrey;

    margin-right: 30px;
}
.adminlogin_left>img{
    height: 450px;
    object-fit: contain;
}
.adminlogin_right{
    flex: 0.45;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.adminlogin_right>form{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.adminlogin_right-para1{
    font-size: 35px;
    font-weight: 500px;
    margin-bottom: 10px;
}
.adminlogin_right-para2{
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    text-align: start;
    opacity: 0.8;
}
.adminlogin_right-para3{
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    text-align: start;
}
.adminlogin_right>form>span{
    width: 80%;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    border-radius: 4px;
}
.adminlogin_right>form>span>input{
    width: 100%;
    border: transparent;
    outline: transparent;
    padding-left: 10px;
    height: 35px;
}
.adminlogin_right>form>button{
    padding: 10px 12px;
    border: transparent;
    outline: transparent;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #9E1B16;
    color: #fff;
}