.Modal-Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  width: 400px;
  height: 225px;
  text-align: center;
}

.Modal-Heading {
  /* padding: 10px; */
  margin-bottom: 10px;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  padding-top: 10px;
  /* padding-bottom: 20px; */
}

.Modal-Field {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #b1b1b1;
  font-family: Rubik;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.Modal-SubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Modal-Text {
  padding: 10px;
  margin-bottom: 10px;
  color: var(--text-color, #110c0c);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
}
