.Forget-Password-Heading {
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.675px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.Forgot-Password-Text {
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
  padding-bottom: 20px;
  text-align: left;
  margin-bottom: 100px;
}

input {
  display: flex;
  width: 95%;
  height: 56px;
  padding: 10px;
  font-size: 15px;
  border: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  margin-bottom: 24px;
  text-align: justify;
  background-color: #eef2f5;
}

.Forgot-Password-InputSection {
  background-color: #eef2f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 710px;
  height: 82px;
}

.Forgot-Password-Input {
  position: relative;
  margin-top: 30px;
  width: 80%;
  height: fit-content;
  box-sizing: border-box;
}

.Forgot-Password-Label {
  position: absolute;
  background-color: #eef2f5;
  padding: 0 4px;
  top: -5px;
  left: 8px;
  font-size: 13px;
  font-family: Roboto;
}

.Forgot-Password-Button-Section {
  width: 20%;
}

.Forgot-Password-Send-Button {
  width: 145px;
  height: 64px;
  padding: 6px 24px;
  border-color: #0000003b;
  border-radius: 5px;
  gap: 8px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-right: 100px;
}

.Forgot-Password-Login-Button {
  margin-top: 50px;
  padding: 8px 22px;
  width: 462px;
  height: 42px;
  border-radius: 5px;
  border-color: #0000003b;
  font-size: 15px;
  margin-bottom: 74px;
  font-feature-settings: "clig" off, "liga" off;
  /* Components/Button Large */
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 173.333% */
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
