@media only screen and (max-width: 1050px) {
    .productpage {
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
      width: 100%;
    }
  
    .productpage_left {
      width: 100% !important;
      flex: none !important;
      padding: 20px !important;
    }
  
    .productpage_left.filterClose {
      max-height: 0 !important;
      opacity: 0;
      overflow: hidden;
      transition: opacity 1s ease-in-out, max-height 0.5s ease-in-out !important;
    }
  
    .productpage_left.filterOpen {
      max-height: 1000px !important;
      opacity: 1 !important;
      transition: opacity 1s ease-in-out, max-height 1s ease-in-out !important;
    }
  
    .productpage-mobile-filter-button {
      width: 100%;
      display: flex !important;
      /* margin-top: 20px !important; */
      justify-content: center;
      cursor: pointer;
    }
  
    .productpage-mobile-filter-button > button {
      background-color: white;
      display: flex !important;
      width: 90%;
      height: 30px;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      padding: 10px;
      border: 1px solid rgb(192, 192, 192);
      border-radius: 5px;
    }
    .productpage-mobile-filter-button-arrow {
      justify-self: right !important;
    }
  
    .productpage_right {
      flex: none !important;
      display: flex !important;
      align-items: center;
      justify-content: center !important;
      flex-wrap: wrap;
      gap: 30px;
    }
    .product_pagination {
      width: 100% !important;
    }
  }
  @media only screen and (max-width:600px) {
    .product_breadcrums_right{
      display: none !important;
    }
  }
  .productpage-mobile-filter-button {
    display: none;
  }
  
  .product_breadcrums {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  
    padding-right: 5%;
  }
  .product_breadcrums_left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .product_breadcrums_left > a {
    margin-right: 10px;
    text-decoration: none;
  }
  .product_breadcrums_left > p {
    margin-left: 10px;
  }
  .product_breadcrums_right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productpage {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .productpage_left {
    flex: 0.2;
    padding-left: 10px;
  }
  .productpage_right {
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }
  .product_pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  