.Reset-Password-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Reset-Password-Input {
  background-color: #eef2f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  width: 396px;
  height: 66px;
  margin-bottom: 50px;
}

.Reset-Password-Input-Lock-Vector {
  width: 10%;
}

.Reset-Password-Input-Field {
  position: relative;
  width: 70%;
  height: 50px;
}

.Reset-Password-Input-Eye-Vector {
  width: 10%;
}

.Reset-Password-Label {
  padding-top: 5px;
  position: absolute;
  background-color: #eef2f5;
  padding: 0 4px 5 5px;
  top: -5px;
  left: 10px;
  font-size: 13px;
  font-family: Roboto;
}

.Reset-Password-Save-Button {
  display: flex;
  padding: 6px 24px;
  width: 205px;
  height: 46px;
  flex-direction: column;
  align-items: center;
  border-color: #0000003b;
  border-radius: 60px;
  gap: 8px;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 173.333% */
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
